@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --bg:#0D0C11;
  --fg:#fff;
  --main:#42b883;
  --secondary-bg:#181818;
  --secondary-fg:#c4c4c4;
  --darker-fg:#5f5f5f;


  font-family: 'Space Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  color: var(--fg);
  background-color: var(--bg);
}

body {
  height: 100vh;
}

#app{
  height: 100%;
}

button{
  border: 0.1rem solid var(--main);
  background-color: transparent;
  color: var(--main);
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover{
  background-color: var(--main);
  color: var(--bg);
}

a{
  text-decoration: none;
  color: inherit;
}

